<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ClaimCompanyMapper">
	
	<!--表名 -->
	<sql id="tableName">
		INS_CLAIMCOMPANY
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		COMPANY_NAME,	
		COMPANY_TEL,	
		CLAIMCOMPANY_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{COMPANY_NAME},	
		#{COMPANY_TEL},	
		#{CLAIMCOMPANY_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			CLAIMCOMPANY_ID = #{CLAIMCOMPANY_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			COMPANY_NAME = #{COMPANY_NAME},
			COMPANY_TEL = #{COMPANY_TEL},
		CLAIMCOMPANY_ID = CLAIMCOMPANY_ID
		where 
		CLAIMCOMPANY_ID = #{CLAIMCOMPANY_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			CLAIMCOMPANY_ID = #{CLAIMCOMPANY_ID}
	</select>
	
	<!-- 通过Name获取数据 -->
	<select id="findByName" parameterType="pd" resultType="pd">
		select COMPANY_NAME,
				COMPANY_TEL
		from 
		<include refid="tableName"></include>
		where 
			COMPANY_NAME = #{COMPANY_NAME}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(

					COMPANY_NAME  LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			CLAIMCOMPANY_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>