@charset "UTF-8";
	.inline-block,img {
	vertical-align:middle
}
a:focus,input:focus,select:focus,textarea:focus {
	outline:0
}
.clearfix:after,.hz-check-item:after,.hz-footer-wrap .hz-ensure:after,.hz-friend-link .friend-link-tab-list:after,.hz-radio-item:after,.hz-tab-menu:after,.product-amount-wrap:after,html .booking-case-con-p:after,html .booking-tab:after,html .plan-choice-list:after {
	clear:both
}
body,button,html,input,legend,select,textarea {
	font:12px/1.5 "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif
}
article,aside,audio,blockquote,body,canvas,code,dd,div,dl,dt,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,input,legend,li,mark,nav,ol,p,pre,progress,section,summary,td,textarea,th,ul,video {
	margin:0;
	padding:0
}
html,input,legend,select,textarea {
	color:#333
}
table {
	border-collapse:collapse;
	border-spacing:0
}
fieldset,iframe,img {
	border:none
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:400
}
ul,ul li {
	list-style:none
}
ol {
	margin-left:15px
}
article,aside,figcaption,figure,footer,header,hgroup,nav,section {
	display:block
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:400
}
q:after,q:before {
	content:''
}
pre {
	white-space:pre-wrap
}
.ell,.hz-button,.hz-server {
	white-space:nowrap
}
small {
	font-size:.8em
}
mark {
	background:#ff0;
	color:#000
}
abbr[title] {
	border-bottom:1px dotted
}
abbr,acronym {
	border:0;
	font-variant:normal
}
sub,sup {
	font-size:.75em
}
sup {
	vertical-align:text-top
}
sub {
	vertical-align:text-bottom
}
button,select {
	text-transform:none
}
input:-webkit-autofill {
	-webkit-box-shadow:0 0 0 1000px #fff inset
}
input,select,textarea {
	font-family:inherit;
	font-size:100%;
	font-weight:inherit;
	color:inherit;
	line-height:1.2
}
.fb,.strong {
	font-weight:700
}
textarea {
	overflow-x:hidden;
	overflow-y:auto;
	vertical-align:top;
	resize:none
}
input[type=checkbox],input[type=radio] {
	width:auto;
	vertical-align:middle
}
.button,button,html input[type=button],input[type=reset],input[type=submit],label {
	cursor:pointer
}
button[disabled],html input[disabled] {
	cursor:default
}
input::-ms-clear,input::-ms-reveal {
	display:none
}
input[type=radio],input[type=checkbox] {
	box-sizing:border-box;
	padding:0
}
input[type=search] {
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
	-webkit-appearance:none
}
a {
	background:0 0
}
a,a:active,a:hover,a:link,a:visited {
	text-decoration:none
}
code,kbd,pre,samp {
	font-family:monospace,serif;
	font-size:inherit
}
::-webkit-input-placeholder {
	color:#AAA;
	opacity:1
}
::-moz-placeholder {
	color:#AAA;
	opacity:1
}
:-ms-input-placeholder {
	color:#AAA;
	opacity:1
}
::-moz-selection,::selection {
	background:inherit;
	color:#fff
}
button::-moz-focus-inner,input[type=file]>input[type=button]::-moz-focus-inner,input[type=button]::-moz-focus-inner,input[type=reset]::-moz-focus-inner,input[type=submit]::-moz-focus-inner {
	border:none;
	padding:0
}
::-webkit-file-upload-button {
	height:100%
}
.hz-bgpic-sprite,.hz-comment-avatar-empty,.hz-step .hz-step-list .dot {
	display:inline-block;
	*display:inline;
	*zoom:1;
	background-image:url(//img.huizecdn.com/hz/www/page/bgpic.png);
	background-repeat:no-repeat
}
.hz-bgpic-1 {
	background-position:0 0;
	height:14px;
	width:301px
}
.hz-bgpic-10 {
	background-position:0 -14px;
	height:13px;
	width:14px
}
.hz-bgpic-11 {
	background-position:0 -27px;
	height:19px;
	width:15px
}
.hz-bgpic-12 {
	background-position:0 -46px;
	height:9px;
	width:15px
}
.hz-bgpic-2 {
	background-position:0 -55px;
	height:80px;
	width:80px
}
.hz-bgpic-3,.hz-comment-avatar-empty {
	background-position:0 -135px;
	height:80px;
	width:80px
}
.hz-bgpic-5 {
	background-position:0 -215px;
	height:41px;
	width:40px
}
.hz-bgpic-6 {
	background-position:0 -256px;
	height:48px;
	width:24px
}
.hz-bgpic-7 {
	background-position:0 -304px;
	height:25px;
	width:25px
}
.hz-bgpic-8 {
	background-position:0 -329px;
	height:18px;
	width:18px
}
.hz-bgpic-9 {
	background-position:0 -347px;
	height:17px;
	width:19px
}
html body {
	_background-image:url(about:blank);
	_background-attachment:fixed
}
html .hz-main-nav {
	_width:400px
}
html .top-nav-wrap .drop-menu-item-body .child-list-item {
	_line-height:28px;
	_height:28px
}
html .top-nav-wrap .top-nav-mobile-item .top-nav-menu-link,html .top-nav-wrap .top-nav-safe-item .top-nav-menu-link,html .top-nav-wrap .top-nav-userinfo-item .top-nav-menu-link,html .top-nav-wrap .top-nav-webnav-item .top-nav-menu-link {
	_border:none
}
html .top-nav-wrap .top-nav-menu .top-nav-menu-item .hz-media-pic {
	_width:115px
}
html .top-nav-wrap .top-nav-menu .top-nav-menu-item .hz-media-content {
	_width:125px
}
html .index-page .hot-guide-list .top {
	_width:235px;
	_height:190px
}
html .index-page .news-list .news-item {
	_width:297px;
	_overflow:hidden
}
html .index-page .banner-show-wrap {
	_height:560px!important
}
html .index-page .hot-guide-list .title {
	_width:295px
}
html .index-page .news-source {
	_background-color:#afb5b7
}
html .index-page .company-list .company-item a {
	_height:116px
}
html .index-page .company-list .company-item a img {
	_margin-top:30px
}
html .recommend-product {
	_width:435px
}
html .recommend-product .hz-media-content {
	_width:240px
}
html .hot-categories-wrap .categories-tab-menu li {
	_margin-bottom:-3.1px
}
html .hz-tab-menu .hz-tab-menu-item a {
	_border-top-color:#fff
}
html .ie6-tip {
	position:relative;
	width:453px;
	height:384px;
	margin:70px auto 30px;
	background:url(//img.huizecdn.com/hz/www/page/ie6.jpg) 50% 0 no-repeat
}
.hz-button-block+.hz-button-block,.mt5 {
	margin-top:5px
}
.button-ok,.ml5 {
	margin-left:5px
}
html .ie6-tip .chrome-link,html .ie6-tip .ie-link {
	position:absolute;
	width:170px;
	height:230px;
	line-height:0;
	font-size:0;
	background:url(about:blank);
	bottom:40px;
	left:25px
}
html .ie6-tip .ie-link {
	left:257px
}
html .product-list-page .hot-product-des,html .product-list-page .hot-product-title {
	_width:225px
}
html .product-list-page .sort-link .arrow-icon {
	_vertical-align:middle
}
html .product-list-page .hot-product-item {
	_width:285px;
	_overflow:hidden
}
html .product-list-page .hz-product-list {
	_width:870px
}
html .product-list-page .product-rank-list-box .hz-product-list {
	_width:1000px
}
html .product-list-page .select-column {
	_padding:0 100px 0 5px;
	_width:760px;
	_z-index:190
}
html .product-list-page .select-list {
	_padding-left:75px
}
html .detail-page .detail-product-faq .detail-product-faq-list dd,html .detail-page .detail-product-faq .detail-product-faq-list dt,html .plan-introduce {
	_padding-left:0
}
html .product-list-page .rank-tab-menu .hz-tab-menu-item a {
	_border-color:#f7f7f7
}
html .product-list-page .rank-tab-menu .active a {
	_border-top:3px solid #f6ab1a
}
html .product-list-page .product-rank-list-box .hz-product-item,html .product-list-page .product-seach-list-box .hz-product-item {
	_height:100px
}
html .product-list-page .ranking-container li i,html .product-list-page .recommend-list li i {
	_display:inline;
	_width:12px;
	_text-align:center
}
html .product-list-page .select-list-open {
	_overflow:visible
}
html .product-list-page .ranking-container li a,html .product-list-page .recommend-list li a {
	_display:inline;
	_padding-left:0
}
html .product-list-page .select-tag .drop-item {
	_z-index:300;
	_top:26px
}
html .detail-page .detail-ensure-opt .ensure-opt-action .hz-button {
	_color:#fff;
	_line-height:50px;
	_font-size:18px
}
html .detail-page .detail-tab-wrap .hz-breadcrumb,html .detail-page .detail-tab-wrap .hz-breadcrumb a {
	_color:#cee1fa
}
html .detail-page .detail-ensure-protect .ensure-protect-list .ensure-protect-item .row04 {
	_width:508px
}
html .detail-page .detail-tab-wrap .detail-hz-tab-box .hz-tab-menu-item a {
	_border-top:3px solid #2150a2
}
html .detail-page .detail-tab-wrap .hz-tab-style01 .active a {
	_border-top:3px solid #f6ab1a
}
html .detail-page .detail-tab-wrap .detail-hz-tab-box .hz-bgpic-sprite {
	_vertical-align:bottom
}
html .detail-page .detail-ensure-info .ensure-support-item .iconfont,html .insure-step-page .insure-step-container .insure-write-tip .hz-bgpic-sprite {
	_vertical-align:middle
}
html .detail-page .detail-product-faq .detail-product-faq-list .ico {
	_position:static;
	_width:60px;
	_padding-right:10px
}
html .detail-page .detail-ensure-opt .filter-active-tag .input-select .input-select-text {
	_border:2px solid #f6ab1a;
	_height:26px;
	_padding:0 23px 0 7px;
	_line-height:26px
}
html .detail-page .detail-ensure-opt .hz-dropdown {
	_padding:0;
	_border:none
}
html .detail-page .detail-ensure-opt .filter-active-tag {
	_padding:0 14px;
	_line-height:26px;
	_border:2px solid #f6ab1a;
	_cursor:default
}
html .detail-page .detail-ensure-rescue dl,html .detail-page .detail-ensure-right dl {
	_width:310px
}
html .hz-footer .hz-server {
	_width:460px
}
html .hz-server .hz-server-content a {
	_margin-left:1px
}
html .hz-main-nav .main-menu-link {
	_font-size:16px
}
html .brand-item .brand-logo img {
	_width:160px;
	_height:62px
}
html .login-register-wrap .login-register-form {
	_width:360px;
	_overflow:hidden
}
html .fixed-plan .hz-tab-menu .hz-tab-menu-item a {
	_border-top-color:#2150a2
}
html .fixed-side-tool {
	_position:absolute;
	_right:0
}
html .fixed-side-tool .side-hover-title {
	_display:none
}
html .fixed-side-tool .side-tool-current .side-hover-title {
	_display:block
}
html .hz-comment .hz-comment-avatar .bg,html .popover .arrow,html .popover .arrow2 {
	_display:none
}
html .fixed-side-tool .side-tool-cont-wrap {
	_z-index:10000
}
html .fixed-side-tool .side-tool-tips-no-list {
	_width:100%
}
html .fixed-side-tool .side-tool-cont-wrap .side-tool-cont-m {
	_width:280px;
	_height:500px
}
html .calendar-box .calendar-year-page {
	_width:120px
}
html .hz-comment .hz-comment-meta {
	_padding:0 20px 10px 100px
}
html .hz-comment .hz-comment-avatar {
	_background-color:#fff
}
html .hz-dropdown-content .hz-dropdown-menu {
	_width:200px;
	_height:200px
}
html .hz-comment .hz-comment-body {
	zoom:1
}
html .hz-dropdown {
	_z-index:1000
}
html .id-card-input~.write-info-default,html .id-card-input~.write-info-error,html .id-card-input~.write-info-success,html .input-text[name=email]~.insure-tips,html .long-input-text~.insure-tips,html .long-input-text~.write-info-default,html .long-input-text~.write-info-error {
	_width:205px
}
html .insure-step-page .person-write-info .long-input-text {
	_width:376px
}
html .Wdate-wrap {
	_disply:inline;
	zoom:1;
	_width:122px
}
html .Wdate-wrap .unit {
	_line-height:1.4
}
html .Wdate-wrap .Wdate {
	_top:5px
}
html .insure-step-page .secondary-hot-product-body .hz-list-title {
	_height:24px
}
html .order-pay-success-page .pay-success-service-box .success-server-item {
	_width:376px
}
html .order-checkout-page .checkout-info .primary-color {
	_line-height:40px
}
html .order-pay-success-page .pay-success-share-item {
	_height:30px;
	_line-height:30px;
	_overflow:hidden
}
html .order-pay-success-page .pay-success-share-menu .sina-item .iconfont {
	*display:inline;
	zoom:1;
	*vertical-align:middle
}
html .filter-active-tag .input-select-text {
	_border:2px solid #f6ab1a
}
html .product-list-page .view-history-scroll,html .view-history-scroll-box {
	_width:1190px;
	_overflow:hidden;
	_position:relative
}
html .insure-cart-page #historyPanel,html .insure-cart-page .view-history-scroll,html .insure-cart-page .view-history-scroll-box {
	_width:1100px
}
html .insure-cart-page .progres-bar .progress {
	_height:4px;
	_overflow:hidden
}
html .insure-cart-page .insure-cart-item06 {
	_width:165px
}
html .order-header .hz-step-list {
	_width:660px
}
html .insure-step-page .person-write-info .insured-list .cell06 {
	_width:12%
}
html .insure-step-page .person-write-info .insured-list .cell07 {
	_width:9%
}
html .insure-step-page .person-write-info .insured-list .list-table-body {
	_height:305px
}
html .brand-summary {
	_display:none;
	_background:#FFF
}
html .brand-item-hover .brand-summary {
	_display:block;
	_opacity:1
}
html .adviser-list .book-box-hover .qcode-box {
	_display:block;
	_width:140px
}
html .hz-table-bordered tbody tr td,html .hz-table-bordered tbody tr th,html .hz-table-bordered tfoot tr td,html .hz-table-bordered tfoot tr th,html .hz-table-bordered thead tr td,html .hz-table-bordered thead tr th {
	_border-left:1px solid #f5f5f5
}
html .hz-table tbody tr td,html .hz-table tbody tr th,html .hz-table tfoot tr td,html .hz-table tfoot tr th,html .hz-table thead tr td,html .hz-table thead tr th {
	_padding:8px;
	_line-height:1.5;
	_vertical-align:top;
	_border-top:1px solid #f5f5f5
}
html .login-register-wrap .get-code-button {
	_margin-left:3px
}
html .product-empty-page .product-empty-body .button-box .hz-button {
	_color:#fff
}
html .confirm-order-operate-content {
	_width:700px
}
html .special-txtw-1 p,html .special-txtw-2 p,html .special-txtw-3 p {
	_padding-top:45px
}
html .special-project-img3 {
	_display:none
}
.clearfix:after,.clearfix:before,html .booking-case-con-p:after,html .booking-case-con-p:before,html .booking-tab:after,html .booking-tab:before,html .plan-choice-list:after,html .plan-choice-list:before {
	display:table;
	content:""
}
html .special-project {
	_margin:30px 20px
}
html .special-siderbar {
	_width:275px
}
html .special-br img {
	_width:1190px
}
html .special-bn2 {
	_top:55px;
	_left:60px
}
html .booking-case-con-p,html .booking-tab {
	zoom:1
}
html .booking-message .input-select-text {
	_width:252px
}
html .booking-input {
	_text-indent:0
}
html .booking-banner-list {
	_padding-top:30px
}
html .plan-listf li {
	_width:203px
}
html .fixed-detail-tab-wrap,html .plan-listw .plan-listw-li {
	_position:static
}
.input-select,.pos-r {
	position:relative
}
html .plan-listi li {
	_background:0 0;
	_border:1px solid #fff;
	_margin-left:71px
}
html .plan-step .plan-step-tt .active {
	_background:url(//img.huizecdn.com/hz/www/page/plan/p-sprite.png) 0 -200px no-repeat;
	_color:red
}
a,html {
	color:#333
}
html .plan-radio-wrap .active p {
	_background-position:0 -108px
}
html .plan-choice-list {
	zoom:1
}
html .plan-choice-list .plan-sprite2 {
	_width:60px
}
html .plan-lista li {
	_margin-left:45px
}
html .plan-introduce .plan-icon1 {
	_top:22px
}
html .plan-introduce .ti2em {
	_padding-left:108px
}
html .layui-layer {
	_overflow:hidden
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
	body {
	width:1190px
}
}.clearfix {
	zoom:1
}
.fl {
	float:left
}
.fr {
	float:right
}
.fl,.fr {
	display:inline
}
.nofloat {
	float:none
}
.ell {
	-ms-text-overflow:ellipsis;
	text-overflow:ellipsis;
	overflow:hidden
}
.uppercase {
	text-transform:uppercase
}
.border-radius {
	border:0
}
.cursor-pointer {
	cursor:pointer
}
html {
	background-color:#fff
}
.overflow-y {
	overflow-x:hidden;
	overflow-y:auto
}
.button {
	background-color:#666;
	color:#fff;
	border-color:transparent;
	cursor:pointer
}
.hidden {
	display:none
}
.show {
	display:block
}
.fn-hide {
	display:none!important
}
.fn-show {
	display:block!important
}
.hz-close,.pos-a {
	position:absolute
}
.vis-hide {
	visibility:hidden
}
.no-selected {
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	-khtml-user-select:none;
	user-select:none
}
input[type=text],input[type=number] {
	border:1px solid #ddd
}
.tac {
	text-align:center
}
.tal {
	text-align:left
}
.tar {
	text-align:right
}
.f12 {
	font-size:12px
}
.f13 {
	font-size:13px
}
.f14 {
	font-size:14px
}
.f16 {
	font-size:16px
}
.f18 {
	font-size:18px
}
.f20 {
	font-size:20px
}
.f22 {
	font-size:22px
}
.f24 {
	font-size:24px
}
.f26 {
	font-size:26px
}
.f28 {
	font-size:28px
}
.f30 {
	font-size:30px
}
.f32 {
	font-size:32px
}
.f34 {
	font-size:34px
}
.f36 {
	font-size:36px
}
.f38 {
	font-size:38px
}
.tdl {
	text-decoration:underline!important
}
.fc0 {
	color:#000
}
.fcw {
	color:#FFF
}
.fc3 {
	color:#333
}
.fc6 {
	color:#666
}
.fc8 {
	color:#888
}
.fc9 {
	color:#999
}
.fcc {
	color:#ccc
}
.bgf0 {
	background:#f0f0f0!important
}
.bgf9 {
	background:#f9f9f9!important
}
.bgf8 {
	background:#f8f8f8!important
}
.bgf7 {
	background:#f7f7f7!important
}
.bgf5 {
	background:#f5f5f5!important
}
.bgf3 {
	background:#f3f3f3!important
}
.bgfc {
	background:#fcfcfc!important
}
.bgfw {
	background:#fff!important
}
.bgfb {
	background:#fbfbfb!important
}
.mt10 {
	margin-top:10px
}
.mt15 {
	margin-top:15px
}
.mt20 {
	margin-top:20px
}
.mt25 {
	margin-top:25px
}
.mt30 {
	margin-top:30px
}
.mt35,.mt40 {
	margin-top:35px
}
.mt45 {
	margin-top:45px
}
.mb5 {
	margin-bottom:5px
}
.mb10 {
	margin-bottom:10px
}
.mb15 {
	margin-bottom:15px
}
.mb20 {
	margin-bottom:20px
}
.mb25 {
	margin-bottom:25px
}
.mb30 {
	margin-bottom:30px
}
.mb35,.mb40 {
	margin-bottom:35px
}
.mb45 {
	margin-bottom:45px
}
.ml10 {
	margin-left:10px
}
.ml15 {
	margin-left:15px
}
.ml20 {
	margin-left:20px
}
.ml25 {
	margin-left:25px
}
.ml30 {
	margin-left:30px
}
.ml35,.ml40 {
	margin-left:35px
}
.ml45 {
	margin-left:45px
}
.mr5 {
	margin-right:5px
}
.mr10 {
	margin-right:10px
}
.mr15 {
	margin-right:15px
}
.mr20 {
	margin-right:20px
}
.mr25 {
	margin-right:25px
}
.mr30 {
	margin-right:30px
}
.mr35,.mr40 {
	margin-right:35px
}
.mr45 {
	margin-right:45px
}
.m5 {
	margin:5px
}
.m10 {
	margin:10px
}
.m15 {
	margin:15px
}
.m20 {
	margin:20px
}
.m25 {
	margin:25px
}
.m30 {
	margin:30px
}
.m35,.m40 {
	margin:35px
}
.m45 {
	margin:45px
}
.w-1000,.w-950,.w-980 {
	margin:0 auto
}
.pt0 {
	padding-top:0!important
}
.pb0 {
	padding-bottom:0!important
}
.pt5 {
	padding-top:5px
}
.pt10 {
	padding-top:10px
}
.pt15 {
	padding-top:15px
}
.pt20 {
	padding-top:20px
}
.pt25 {
	padding-top:25px
}
.pt30 {
	padding-top:30px
}
.pt35 {
	padding-top:35px
}
.pt40 {
	padding-top:40px
}
.pt45 {
	padding-top:45px
}
.pb5 {
	padding-bottom:5px
}
.pb10 {
	padding-bottom:10px
}
.pb15 {
	padding-bottom:15px
}
.pb20 {
	padding-bottom:20px
}
.pb25 {
	padding-bottom:25px
}
.pb30 {
	padding-bottom:30px
}
.pb35 {
	padding-bottom:35px
}
.pb40 {
	padding-bottom:40px
}
.pb45 {
	padding-bottom:45px
}
.pr5 {
	padding-right:5px
}
.pr10 {
	padding-right:10px
}
.pr15 {
	padding-right:15px
}
.pr20 {
	padding-right:20px
}
.pr25 {
	padding-right:25px
}
.pr30 {
	padding-right:30px
}
.pr35 {
	padding-right:35px
}
.pr40 {
	padding-right:40px
}
.pr45 {
	padding-right:45px
}
.pl5 {
	padding-left:5px
}
.pl10 {
	padding-left:10px
}
.pl15 {
	padding-left:15px
}
.pl20 {
	padding-left:20px
}
.pl25 {
	padding-left:25px
}
.pl30 {
	padding-left:30px
}
.pl35 {
	padding-left:35px
}
.pl40 {
	padding-left:40px
}
.pl45 {
	padding-left:45px
}
.p5 {
	padding:5px
}
.p10 {
	padding:10px
}
.p15 {
	padding:15px
}
.p20 {
	padding:20px
}
.p25 {
	padding:25px
}
.p30 {
	padding:30px
}
.p35 {
	padding:35px
}
.p40 {
	padding:40px
}
.p45 {
	padding:45px
}
.inline-block {
	display:inline-block;
	*display:inline;
	zoom:1
}
.primary-color {
	color:#f6ab1a
}
.secondary-color {
	color:red
}
.base-color {
	color:#2150a2
}
.primary-link {
	color:#2150A2
}
.primary-link:hover {
	color:#F6AB1A;
	text-decoration:none
}
.lh15 {
	line-height:1.5
}
.lh18 {
	line-height:1.8
}
.lh20 {
	line-height:2
}
.lh22 {
	line-height:2.2
}
.lh24 {
	line-height:2.4
}
.lh28 {
	line-height:2.8
}
.lh30 {
	line-height:3
}
.w-950 {
	width:950px
}
.w-980 {
	width:980px
}
.w-1000 {
	width:1000px
}
.bor-bottom {
	border-bottom:1px solid #f0f0f0
}
.bor-top {
	border-top:1px solid #f0f0f0
}
.bor-left {
	border-left:1px solid #f0f0f0
}
.bor-right {
	border-right:1px solid #f0f0f0
}
.border {
	border:1px solid #f0f0f0
}
.hz-close {
	right:20px;
	top:20px;
	font-size:18px
}
.hz-close:hover {
	text-decoration:none;
	color:#f6ab1a
}
[rel=prompt]:hover {
	text-decoration:none
}
.error-404 {
	width:50em;
	margin:10em auto;
	font-family:"Open Sans",Arial,sans-serif;
	text-align:center
}
.error-404 h1 {
	font-size:15em;
	font-weight:lighter;
	color:#555
}
.error-404 p {
	margin-top:1em;
	font-size:2em
}
.error-404 pre {
	border:1px solid #aaa;
	background-color:#fff;
	padding:2em;
	line-height:1.5;
	border-radius:1em;
	word-break:break-word
}
.layui-layer .layui-layer-title {
	height:50px;
	line-height:50px;
	background-color:#f9f9f9;
	border-bottom:none;
	color:#999;
	padding-left:20px
}
.layui-layer .layui-layer-btn a {
	height:38px;
	line-height:38px;
	padding:0 28px;
	border:1px solid #ddd;
	background:#f8f8f8;
	color:#666;
	width:92px;
	font-weight:400
}
.layui-layer .layui-layer-btn .layui-layer-btn1 {
	border-color:#f6ab1a;
	background:#f6ab1a;
	color:#fff
}
.layui-layer .layui-layer-setwin {
	position:absolute;
	right:15px;
	top:18px;
	font-size:0;
	line-height:initial
}
.layui-layer .layui-layer-ico {
	background:url(//img.huizecdn.com/hz/www/page/layer-close.png) no-repeat
}
.layui-layer .layui-layer-setwin .layui-layer-max {
	background-position:-32px -40px
}
.layui-layer .layui-layer-setwin .layui-layer-max:hover {
	background-position:-16px -40px
}
.layui-layer .layui-layer-setwin .layui-layer-maxmin {
	background-position:-65px -40px
}
.layui-layer .layui-layer-setwin .layui-layer-maxmin:hover {
	background-position:-49px -40px
}
.layui-layer .layui-layer-setwin .layui-layer-close1 {
	width:19px;
	height:19px;
	background-position:0 -1px;
	cursor:pointer
}
.layui-layer .layui-layer-setwin .layui-layer-close1:hover {
	background-position:0 -19px
}
.layui-layer .layui-layer-setwin .layui-layer-close2 {
	right:0;
	top:0;
	width:19px;
	height:19px;
	background-position:0 -1px;
	cursor:pointer
}
.layui-layer .layui-layer-setwin .layui-layer-close2:hover {
	background-position:0 -19px
}
.layui-layer .layui-layer-btn {
	padding:0 30px 30px
}
.calendar-box,.jq-prompt {
	box-shadow:2px 2px 4px rgba(0,0,0,.1)
}
.placeholder-wrap {
	vertical-align:top
}
.hz-loading-wrap {
	padding:50px 0;
	text-align:center
}
.hz-loading-text {
	font-size:20px;
	margin-left:10px;
	font-family:'Microsoft Yahei'
}
.layout {
	width:1190px;
	margin-left:auto;
	margin-right:auto
}
.w1350 .fixed-top-table,.w1350 .layout {
	width:1350px
}
.w1350 .detail-ensure-info .ensure-support-item {
	width:188px
}
.w1350 .detail-product-comment .comment-meta-middle {
	width:489px
}
.w1350 .detail-product-comment .comment-meta-right {
	width:205px
}
.w1350 .detail-product-comment .comment-meta-left {
	width:165px
}
.w1350 .detail-product-claims .claims-service-tab-separator {
	width:90px
}
.w1350 .recommended-products .recommended-product-item {
	width:218px;
	height:218px
}
.w1350 .recommended-products .recommended-product-mark {
	width:25px;
	height:25px;
	margin:110px 5px 0
}
.w1350 .recommended-products li.last-item .price-item .current-price {
	font-size:24px
}
.w1350 .recommended-products .recommended-product-item .content {
	padding:20px 30px
}
.w1350 .comparer-page .fixed-top-table {
	width:1350px
}
.hz-tab-menu {
	zoom:1
}
.hz-tab-menu:after,.hz-tab-menu:before {
	content:"";
	display:table
}
.hz-tab-menu .hz-tab-menu-item {
	float:left;
	_width:0;
	white-space:nowrap
}
.hz-tab-menu .hz-tab-menu-item a {
	display:block;
	height:37px;
	line-height:37px;
	border-top:3px solid transparent;
	padding:0 36px;
	font-size:14px
}
.hz-button,.input-select {
	display:inline-block;
	*zoom:1;
	vertical-align:middle
}
.hz-tab-menu .hz-tab-menu-item a:hover {
	text-decoration:none
}
.hz-tab-menu .active a {
	cursor:default
}
.hz-tab-style01 {
	background:#2150a2
}
.hz-tab-style01 .hz-tab-menu-item a {
	color:#fff
}
.hz-tab-style01 .hz-tab-menu-item.active a {
	background:#fff;
	color:#333;
	font-weight:700;
	border-top:3px solid #f6ab1a
}
.hz-tab-style02 {
	border-bottom:1px solid #ddd
}
.hz-tab-style02 .hz-tab-menu-item {
	margin-bottom:-1px
}
.hz-tab-style02 .active a {
	border-bottom:2px solid #333;
	font-weight:700
}
.hz-button {
	*display:inline;
	height:40px;
	line-height:40px;
	padding:0 20px;
	color:#333;
	background:#fff;
	text-align:center;
	font-size:14px;
	cursor:pointer;
	user-select:none;
	border:1px solid #ddd;
	box-sizing:border-box;
	font-family:"Microsoft YaHei";
	border-radius:2px;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-ms-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out
}
.hz-button.active.focus,.hz-button.active:focus,.hz-button.focus,.hz-button:active.focus,.hz-button:active:focus,.hz-button:focus {
	border-color:#f6ab1a
}
.hz-button.focus {
	text-decoration:none
}
.hz-button.active,.hz-button:active {
	background-image:none;
	outline:0
}
.hz-button.disabled,.hz-button:disabled {
	cursor:not-allowed;
	border-color:#ccc;
	color:#fff;
	background:#ddd;
	border-width:0
}
.hz-button:hover {
	text-decoration:none
}
.hz-button-large {
	height:50px;
	line-height:50px;
	font-size:18px;
	font-family:'Microsoft YaHei'
}
.hz-button-small {
	height:30px;
	line-height:30px;
	font-size:12px
}
.hz-button-primary {
	color:#fff;
	background:#f6ab1a;
	border:0
}
.hz-button-primary:hover {
	background:#ffc555
}
.hz-button-primary.disabled,.hz-button-primary:disabled {
	background:#ddd;
	border-width:0
}
.hz-button-secondary {
	color:#fff;
	background:#2150a2;
	border:0
}
.hz-button-secondary:hover {
	background:#3e6fc4
}
.hz-button-secondary.disabled,.hz-button-secondary:disabled {
	background:#ddd;
	border-width:0
}
.hz-button-block {
	display:block;
	width:100%;
	padding:0
}
input[type=button].btn-block,input[type=reset].btn-block,input[type=submit].btn-block {
	width:100%
}
.hz-button-disabled,.hz-button-disabled:hover {
	cursor:not-allowed;
	border-color:#ccc;
	color:#fff;
	background:#ddd;
	border-width:0
}
.button-cancel {
	padding:0 28px;
	border:1px solid #ddd;
	background:#f8f8f8;
	color:#666
}
.button-cancel:focus {
	border-color:#ddd!important
}
.button-ok {
	padding:0 28px;
	border-color:#f6ab1a;
	background:#f6ab1a;
	color:#fff;
	font-weight:700
}
.input-text {
	padding:8px 10px;
	border:1px solid #ddd;
	font-size:14px;
	height:32px;
	line-height:22px;
	box-shadow:0 1px 1px 0 #DDD inset
}
.input-text:focus {
	border-color:#dde9fd;
	background-color:#f6f9fe!important
}
.input-text:disabled {
	background:#eee;
	color:#555;
	cursor:not-allowed
}
.input-text-error,.input-text-error .input-select-text {
	border-color:red!important;
	background-color:#fff
}
.input-select {
	*display:inline;
	cursor:pointer
}
.input-select .input-select-text {
	float:left;
	border:1px solid #ccc;
	padding:0 24px 0 8px;
	font-size:14px;
	height:28px;
	line-height:28px;
	box-shadow:0 0 0;
	cursor:pointer;
	overflow:hidden;
	min-width:25px
}
.input-select b {
	position:absolute;
	top:50%;
	right:10px;
	margin-top:-7px;
	font-weight:700;
	font-size:12px;
	color:#999;
	line-height:1.5
}
.product-amount-wrap {
	zoom:1;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;
	text-align:center;
	line-height:28px
}
.hz-check-item:after,.hz-check-item:before,.hz-radio-item:after,.hz-radio-item:before,.product-amount-wrap:after,.product-amount-wrap:before {
	display:table;
	content:""
}
.product-amount-wrap .product-amount-decrease,.product-amount-wrap .product-amount-increase,.product-amount-wrap .product-amount-input {
	float:left
}
.product-amount-wrap .product-amount-decrease,.product-amount-wrap .product-amount-increase {
	width:28px;
	font-size:20px;
	border:1px solid #ddd;
	color:#999;
	cursor:pointer;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	-khtml-user-select:none;
	user-select:none
}
.product-amount-wrap .product-amount-decrease:hover,.product-amount-wrap .product-amount-increase:hover {
	background:#f6f9fe;
	border-color:#dde9fd
}
.product-amount-wrap .product-amount-input {
	width:54px;
	height:28px;
	line-height:28px;
	padding:0 2px;
	box-shadow:none;
	border:none;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	text-align:center
}
.hz-friend-link-content,.hz-server .hz-server-content {
	padding-left:67px
}
.product-amount-wrap .disabled {
	color:#ccc;
	cursor:not-allowed
}
.layui-layer-loading .layui-layer-loading1 {
	width:400px!important;
	background:rgba(0,0,0,.6)!important;
	border-radius:8px;
	height:60px!important;
	line-height:60px;
	color:#fff;
	font-size:14px;
	text-align:center
}
.hz-check-item,.hz-radio-item {
	zoom:1;
	line-height:18px;
	cursor:pointer
}
.hz-radio-item+.hz-radio-item {
	margin-left:15px
}
.hz-check-item .hz-check-icon,.hz-check-item .hz-check-text,.hz-radio-item .hz-radio-icon,.hz-radio-item .hz-radio-text {
	float:left;
	display:inline;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	-khtml-user-select:none;
	user-select:none
}
.hz-check-item .hz-check-icon,.hz-radio-item .hz-radio-icon {
	margin-right:10px;
	width:18px;
	height:18px;
	background:url(//img.huizecdn.com/hz/www/page/checked-icon.png) no-repeat
}
.hz-check-item-hover .hz-check-icon {
	background-position:0 -18px
}
.hz-check-item-checked .hz-check-icon {
	background-position:0 -36px
}
.hz-check-item-disabled .hz-check-icon {
	background-position:0 -54px;
	cursor:not-allowed
}
.hz-check-item-checked.hz-check-item-disabled .hz-check-icon {
	background-position:0 -36px
}
.hz-radio-item .hz-radio-icon {
	background-position:0 -72px
}
.hz-radio-item-hover .hz-radio-icon {
	background-position:0 -90px
}
.hz-radio-item-checked .hz-radio-icon {
	background-position:0 -108px
}
.hz-radio-item-disabled .hz-radio-icon {
	background-position:0 -126px;
	cursor:not-allowed
}
.hz-radio-item-checked.hz-radio-item-disabled .hz-radio-icon {
	background-position:0 -108px
}
.hz-check-item-disabled,.hz-radio-item-disabled {
	cursor:not-allowed
}
.share-icon {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;
	width:30px;
	height:30px;
	background:url(//img.huizecdn.com/hz/www/page/share-sprite.png) no-repeat;
	line-height:0;
	font-size:0
}
.share-wx-icon {
	background-position:0 0
}
.share-qq-icon {
	background-position:0 -30px
}
.share-sina-icon {
	background-position:0 -60px
}
.share-qz-icon {
	background-position:0 -90px
}
.hz-media-box,.hz-media-box-content,.hz-media-content {
	overflow:hidden;
	zoom:1
}
.hz-media-box .hz-media-pic,.hz-media-box .hz-media-title {
	float:left;
	display:inline
}
.hz-footer-wrap .hz-ensure-wrap {
	background:url(//img.huizecdn.com/hz/www/page/footer-wrap-bg.png) repeat-x
}
.hz-footer-wrap .hz-ensure {
	zoom:1;
	background:url(//img.huizecdn.com/hz/www/page/footer-bg.png) 0 50% no-repeat
}
.hz-footer-wrap .hz-ensure:after,.hz-footer-wrap .hz-ensure:before {
	content:"";
	display:table
}
.hz-footer-wrap .hz-ensure-item01,.hz-footer-wrap .hz-ensure-item05 {
	width:16%
}
.hz-footer-wrap .hz-ensure-item02,.hz-footer-wrap .hz-ensure-item03,.hz-footer-wrap .hz-ensure-item04 {
	width:22%
}
.hz-footer-wrap .hz-ensure-item {
	float:left
}
.hz-footer-wrap .hz-ensure-item a {
	display:block;
	line-height:0;
	font-size:0;
	height:95px;
	overflow:hidden
}
.hz-footer-wrap .hz-ensure-item a:hover {
	text-decoration:none
}
.hz-footer-wrap .hz-foot-others,.hz-server .footer-follow-info {
	color:#696969
}
.hz-server .footer-follow-info dl {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle
}
.hz-friend-link {
	display:none
}
.hz-server .hz-server-content a {
	color:#666;
	margin-right:15px;
	line-height:20px
}
.hz-server .hz-server-content a:hover {
	color:#2150a2;
	text-decoration:none
}
.hz-friend-link a {
	color:#666;
	line-height:20px
}
.hz-friend-link .friend-link-tab-list {
	zoom:1;
	margin-bottom:10px
}
.hz-friend-link .friend-link-tab-list:after,.hz-friend-link .friend-link-tab-list:before {
	content:"";
	display:table
}
.hz-friend-link .friend-link-tab-list .friend-link-tab-item {
	float:left
}
.hz-friend-link .friend-link-tab-list .friend-link-tab-item a {
	display:block;
	margin-right:10px;
	padding:0 5px
}
.hz-friend-link .friend-link-tab-list .friend-link-tab-item a:hover,.hz-friend-link .friend-link-tab-list .friend-link-tab-item.active a {
	background:#2151a3;
	color:#fff;
	text-decoration:none
}
.hz-friend-link .friend-link-tab-pane a {
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin:0 5px 5px 0;
	padding:0 5px;
	transition:all .5s
}
.hz-friend-link .friend-link-tab-pane a:hover {
	color:#2150a2;
	text-decoration:none
}
.hz-copyright {
	padding:25px 0;
	border-top:1px solid #ececec
}
.hz-copyright a,.hz-copyright a a {
	*padding:0 5px
}
.hz-copyright a a:after,.hz-copyright a:after {
	content:attr(data-content);
	padding:0 3px 0 5px;
	color:#d3d3d3
}
.hz-copyright a a:hover,.hz-copyright a:hover {
	color:#2150a2;
	text-decoration:none
}
.hz-copyright a a:hover:after,.hz-copyright a:hover:after {
	text-decoration:none
}
.hz-footer-style2 .hz-copyright,.hz-footer-style2 .hz-copyright a {
	color:#666;
	background:#fff
}
.hz-footer-style2 .hz-copyright a a:after,.hz-footer-style2 .hz-copyright a:after {
	color:#666
}
.hz-footer-style2 .hz-copyright a a:hover,.hz-footer-style2 .hz-copyright a:hover {
	color:#000;
	text-decoration:none
}
.login-register-header .header-text {
	position:relative;
	width:145px;
	height:75px;
	line-height:75px;
	border-left:1px solid #f0f0f0
}
.login-wrap {
	background: 0 no-repeat #faebcc;
	/*height:591px;*/
	margin-top:4%;
	margin-bottom:4.5%;
}
.register-wrap {
	height:606px;
	background: 0 no-repeat #faebcc;
	margin-top:3.5%;
	margin-bottom:3.5%;
}
#login-register-page .login-wrap,#login-register-page .register-wrap {
	min-width:1190px;
	*width:1190px
}
.register-pwd-letter {
	margin-top:5px
}
.register-pwd-letter span {
	float:left;
	width:33%;
	height:16px;
	background:#eee;
	text-align:center;
	line-height:16px;
	color:#aaa
}
.register-pwd-letter .mid-item {
	margin:0 1px
}
.register-pwd-letter .pwd-active-1 {
	background:red;
	color:#fff
}
.register-pwd-letter .pwd-active-2 {
	background:#f6ab1a;
	color:#fff
}
.register-pwd-letter .pwd-active-3 {
	background:#63b418;
	color:#fff
}
.login-register-wrap .login-register-form {
	float:right
}
.login-register-wrap .login-register-tab-menu {
	background:#f9f9f9
}
.login-register-wrap .hz-tab-menu-item a {
	color:#333;
	height:57px;
	line-height:57px;
	border-top:3px solid #f9f9f9
}
.login-register-wrap .input-text {
	width:258px;
	vertical-align:middle
}
.login-register-wrap .tab-container {
	padding:30px 40px 20px
}
.login-register-wrap .hz-tab-menu .hz-tab-menu-item {
	width:100%;
	text-align:center
}
.login-register-wrap .error-msg {
	color:red;
	margin-bottom:10px
}
.login-register-wrap .get-code-button {
	margin-left:7px;
	width:103px;
	background:#f7f7f7;
	border:1px solid #ddd;
	font-size:12px;
	padding:0
}
.register-success {
	padding:60px 0 100px
}
.register-success .start-button {
	display:inline-block;
	*display:inline;
	zoom:1;
	padding:0 40px;
	height:34px;
	line-height:34px;
	font-size:14px;
	border:2px solid #f93
}