<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CustomerMapper">
	
	<!--表名 -->
	<sql id="tableName">
		MEMBER_CUSTOMER
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		CUSTOMER_ID,	
		CUSTOMER_CODE,	
		CUSTOMER_NAME,	
		CUS_TYPE,	
		CUS_STATUS,	
		CUS_COMPANY,	
		CUS_DUTY,	
		CUS_INTRODUCTION,	
		CERTIFICATE_NUMBER,	
		CUS_SEX,	
		CUS_COUNTRY_ID,	
		CUS_PROVINCE_ID,	
		CUS_CITY,	
		CUS_COUNTY,	
		CUS_BUSINESS_ADDRESS,	
		CUS_FAX,	
		CUS_WEB_SITE,	
		CUS_MOBILE_TEL,	
		CUS_HOME_ADDRESS,	
		CUS_NOTE,	
		CREATION_DATE,	
		CREATED_BY,	
		LAST_UPDATE_DATE,	
		LAST_UPDATED_BY,	
		EDUCATION_ID,	
		CUSTOMER_NUMBER,	
		CUSTOMER_LEVEL,
		CUS_TRADE_ID,
		CUS_ALAIS,
		CUS_nation,
		CUS_YEAR,
		CUS_JF,
		CUS_ID_CARD,
		CUS_COMPANY_SS
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{CUSTOMER_ID},	
		#{CUSTOMER_CODE},	
		#{CUSTOMER_NAME},	
		#{CUS_TYPE},	
		#{CUS_STATUS},	
		#{CUS_COMPANY},	
		#{CUS_DUTY},	
		#{CUS_INTRODUCTION},	
		#{CERTIFICATE_NUMBER},	
		#{CUS_SEX},	
		#{CUS_COUNTRY_ID},	
		#{CUS_PROVINCE_ID},	
		#{CUS_CITY},	
		#{CUS_COUNTY},	
		#{CUS_BUSINESS_ADDRESS},	
		#{CUS_FAX},	
		#{CUS_WEB_SITE},	
		#{CUS_MOBILE_TEL},	
		#{CUS_HOME_ADDRESS},	
		#{CUS_NOTE},	
		#{CREATION_DATE},	
		#{CREATED_BY},	
		#{LAST_UPDATE_DATE},	
		#{LAST_UPDATED_BY},	
		#{EDUCATION_ID},	
		#{CUSTOMER_NUMBER},	
		#{CUSTOMER_LEVEL},
		#{CUS_TRADE_ID},
		#{CUS_ALAIS},
		#{CUS_nation},
		#{CUS_YEAR},
		#{CUS_JF},
		#{CUS_ID_CARD},
		#{CUS_COMPANY_SS}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			CUSTOMER_ID = #{CUSTOMER_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			CUSTOMER_ID = #{CUSTOMER_ID},
			CUSTOMER_CODE = #{CUSTOMER_CODE},
			CUSTOMER_NAME = #{CUSTOMER_NAME},
			CUS_TYPE = #{CUS_TYPE},
			CUS_COMPANY = #{CUS_COMPANY},
			CUS_DUTY = #{CUS_DUTY},
			CUS_INTRODUCTION = #{CUS_INTRODUCTION},
			CERTIFICATE_NUMBER = #{CERTIFICATE_NUMBER},
			CUS_SEX = #{CUS_SEX},
			CUS_COUNTRY_ID = #{CUS_COUNTRY_ID},
			CUS_PROVINCE_ID = #{CUS_PROVINCE_ID},
			CUS_CITY = #{CUS_CITY},
			CUS_COUNTY = #{CUS_COUNTY},
			CUS_BUSINESS_ADDRESS = #{CUS_BUSINESS_ADDRESS},
			CUS_FAX = #{CUS_FAX},
			CUS_WEB_SITE = #{CUS_WEB_SITE},
			CUS_MOBILE_TEL = #{CUS_MOBILE_TEL},
			CUS_HOME_ADDRESS = #{CUS_HOME_ADDRESS},
			CUS_NOTE = #{CUS_NOTE},
			CREATION_DATE = #{CREATION_DATE},
			CREATED_BY = #{CREATED_BY},
			LAST_UPDATE_DATE = #{LAST_UPDATE_DATE},
			LAST_UPDATED_BY = #{LAST_UPDATED_BY},
			EDUCATION_ID = #{EDUCATION_ID},
			CUSTOMER_NUMBER = #{CUSTOMER_NUMBER},
			CUSTOMER_LEVEL = #{CUSTOMER_LEVEL}
		where 
		CUSTOMER_ID = #{CUSTOMER_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			CUSTOMER_ID = #{CUSTOMER_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		m.CUSTOMER_ID,	
		m.CUSTOMER_CODE,	
		m.CUSTOMER_NAME,	
		m.CUS_TYPE,	
		m.CUS_STATUS,	
		m.CUS_COMPANY,	
		m.CUS_DUTY,	
		m.CUS_INTRODUCTION,	
		m.CERTIFICATE_NUMBER,	
		m.CUS_SEX,	
		m.CUS_COUNTRY_ID,	
		m.CUS_PROVINCE_ID,	
		m.CUS_CITY,	
		m.CUS_COUNTY,	
		m.CUS_BUSINESS_ADDRESS,	
		m.CUS_FAX,	
		m.CUS_WEB_SITE,	
		m.CUS_MOBILE_TEL,	
		m.CUS_HOME_ADDRESS,	
		m.CUS_NOTE,
		m.CREATION_DATE,	
		m.CREATED_BY,	
		m.LAST_UPDATE_DATE,	
		m.LAST_UPDATED_BY,	
		m.EDUCATION_ID,	
		m.CUSTOMER_NUMBER,	
		m.CUSTOMER_LEVEL,
		m.CUS_TRADE_ID,
		d.NAME as CUS_DUTY_name,
		s.NAME as EDUCATION_ID_name
		from 
		MEMBER_CUSTOMER m,sys_dictionaries d,sys_dictionaries s<!-- ,sys_department t  -->
		where 1=1 and d.DICTIONARIES_ID=m.CUS_DUTY and s.DICTIONARIES_ID=m.EDUCATION_ID
		<!-- 
		and t.DEPARTMENT_ID=m.CUS_COMPANY_SS
		and t.DEPARTMENT_ID in
  			 <foreach item="item" index="index" collection="pd.ArrayOrgId" open="(" separator="," close=")">
                  ${item}
             </foreach>
          -->
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				CUSTOMER_CODE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				or
				CUSTOMER_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				or
				CUS_COMPANY   LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
		<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 登录时间检索 -->
			and LAST_UPDATE_DATE &gt;= #{pd.lastLoginStart} 
		</if>
		<if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 时间检索 -->
			and LAST_UPDATE_DATE &lt;= #{pd.lastLoginEnd} 
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			CUSTOMER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>