@media screen and (min-width:1000px)
{
	html{
		font-size:16px;
	}
}
@media screen and (min-width:1200px)
{
	html{
		font-size:18px;
	}
}
@media screen and (min-width:1400px)
{
	html{
		font-size:20px;
	}
}
@media screen and (min-width:1600px)
{
	html{
		font-size:22px;
	}
}
@media screen and (min-width:1800px)
{
	html{
		font-size:24px;
	}
}
body {
	min-width: 1000px;
}
a:link { text-decoration: none;color:#7f868b;}
a:active { text-decoration:none;color:#7f868b;}
a:hover { text-decoration:none;color:#7f868b;}
a:visited { text-decoration: none;color:#7f868b;}
/*头部样式开始*/
.navbar{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 102px;
	line-height: 102px;
	background-color: #f0f0f0;
	z-index:1111;
	overflow: hidden;
}
.navbar_wrapInner{
	width: 76%;
	height: 100%;
	margin: 0 auto;
	min-width: 1005px;
}
.navbar_logo_img{
	width: 26%;
	height: 100%;
	float: left;
	position: relative;
	min-width: 260px;
}
.navbar_logo_img>img{
	width: 103px;
	height: 60px;
	position: absolute;
	top: 50%;
	margin-left: 5px;
	margin-top: -30px;
}
.navbar_logo_img>span{
	font-weight: bolder;
	font-size: 1.3rem;
	color: black;
	margin-left: 130px;
}
/*logo 结束*/

/*navbar 开始*/
.navbar_bottom{
	position: relative;
	display: inline;
	float: left;
	width: 55%;
	height: 100%;
	font-weight: 500;
	min-width: 556px;
}
.navbar_bottom>ul{
	position: relative;
	float: right;
	width: 100%;
	height: 20px;
	line-height: 20px;
	top: 39px;
}
.navbar_bottom>ul>li{
	position: relative;
	display: inline-block;
	text-align: center;
	text-align: -moz-center;
	text-align: -webkit-center;
	font-size: 16px;
	color: #71777b;
	width: 21%;
	height: 20px;
	line-height: 20px;
	float: right;
	cursor: pointer;
}
/*navbar 结束*/

/*登录注册 开始*/
.navbar_bottom_right{
	position: relative;
	width: 13%;
	height: 100%;
	float: right;
	min-width: 185px;
}
.navbar_bottom_right>ul{
	position: relative;
	text-align: center;
	text-align: -moz-center;
	text-align: -webkit-center;
	float: right;
	width: 100%;
	height: 20px;
	line-height: 20px;
	top: 42px;
	font-size: 14px;
}
.navbar_bottom_right>ul>li{
	position: relative;
	display: inline-block;
	color: #71777b;
	padding: 0 11px;
	height: 100%;
}
/*头部样式结束*/
.head_navigation_active{
	color: #ff4704 !important;
}
/*通用头部样式结束*/
/*轮播图部分*/
.banner {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 1000px;
	overflow: hidden;

}
/*轮播图结束*/
/*创建应用开始*/
.create-use {
	height: 490px;
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	min-width: 1000px;
}
/*创建应用整体内容盒子*/
.create-use > .create {
	width: 75%;
	margin: 0 auto;
	height: 160px;
	position: relative;
}
/*创建应用字体*/
.create-use > .create > p {
	height: 60px;
	line-height: 60px;
	width: 220px;
	background-color: rgb(230,81,18);
	position: absolute;
	top: 50%;
	margin-top: -30px;
	left: 50%;
	margin-left: -110px;
	text-align: center;
	font-size: 1.3rem;
	color: #fff;
	border-radius: 5px;
}
.create-use > .create-details {
	height: 330px;
	width: 75%;
	margin: 0 auto;
}
.create-use > .create-details > .create-ul {
	margin: 0 50px;
}
.create-use > .create-details > .create-ul > li {
	float: left;
	width: 33.3333%;
	height: 250px;
	text-align: center;
	/*background-color: red;*/
	
}
.create-use > .create-details > .create-ul > li > a {
	font-size: 1.4rem;
	color: #626262;
	width: 100%;
	height: 190px;
	/*background-color: red;*/
	position: relative;
}
.create-use > .create-details > .create-ul > li > p {
	font-size: 15px;
	color: #2a2e39;
	line-height: 25px;
	width: 90%;
}
.create-use > .create-details > .create-ul > li > a > span {
	display: block;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 65px;
	left: 50%;
	margin-left: -50px;
	background: url(../images/home-sprite.png) -150px -150px no-repeat;
}
.create-use > .create-details > .create-ul > li:nth-child(2) > a > span {
	background: url(../images/home-sprite.png) -9px -11px no-repeat;
}
.create-use > .create-details > .create-ul > li:last-child > a > span {
	background: url(../images/home-sprite.png) -130px -11px no-repeat;
}
/*创建应用部分结束*/
/*应用接入流程开始*/
.maintable {
	/*border: 2px solid red;*/
	margin: 100px auto;
	border-collapse:collapse;
}
.onetd {
	height: 100%;
	background-color: rgb(226,231,237);
	position: relative;
	border: none;
}

h4 {
	font-size: 1.3rem;
	width: 100%;
	margin-left: 17%;
	-webkit-transform: translate(2%,275%);
	-ms-transform: translate(2%,275%);
	-moz-transform: translate(2%,275%);
	font-weight: 700;
	font-family: "微软雅黑";
	color: rgb(98, 98, 98);
}
.h4-img {
	width: 31%;
	-webkit-transform: translate(40%,-8%);
	-ms-transform: translate(40%,-8%);
	-moz-transform: translate(40%,-8%);
}
.smalltable {
	width: 100%;
}
.smalltr {
	width: 100%;
}
.smalltd {
	width: 20%;
	text-align: center;
	position: relative;
}
.one {
	/*background-color: lightblue;*/
}
.tdone {
	float: left;
	/*background-color: red;*/
	/*height: 80%;*/
	width: 60%;
}
.tdone img {
	width: 68%;
}
.tdone h3 {
	font-size: 0.8rem;
	font-weight: normal;
	margin-top: 10px;
	font-family: "微软雅黑";
	color: rgb(98, 98, 98);
}
.tdtwo {
	float: left;
	width: 40%;
	-webkit-transform: translate(3%,42%);
	-ms-transform: translate(3%,42%);
	-moz-transform: translate(3%,42%);
}
.tdtwo img {
	width: 53%;
}

/*应用接入流程结束*/
/*合作伙伴开始*/
.cooperation-partner {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	height: 280px;
	min-width: 1000px;
	margin-bottom: 100px;
	/*background: red;*/
}
.partner-content {
	width: 75%;
	height: 280px;
	margin: 0 auto;
	/*background-color: lightgreen;*/
	overflow: hidden;
}
.partner-content > h3 {
	font-size: 1.4rem;
	color: #5f6262;
	position: absolute;
	top: 60px;
	left: 17%;
	/*margin-top: 105px;*/
}
.partner-content img {
	vertical-align: middle;
}

.box {
	width: 756px;
	min-width: 756px;
	/*width: 78%;*/
	height: 50px;
	position: relative;
	top: 140px;
	margin: 0 auto;
	/*background-color: blue;*/
}

.box .screen {
	/*width: 1030px;*/
	width: 635px;
	/*width: 92%;*/
	height: 50px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}
/*轮播主要样式开始*/
.box .screen ul {
	width: 1400px;
	position: absolute;

}

.box .screen ul li {
	margin-right: 25px;
	float: left;
}

.box .arrow-btn span {
	position: absolute;
	width: 30px;
	height: 50px;
	line-height: 50px;
	top: 50%;
	margin-top: -25px;
	cursor: pointer;
}
.box .arrow-btn span.left {
	left: 0;
	background: url(../images/rowleft.png) center center no-repeat;
}
.box .arrow-btn span.right {
	text-align: right;
	right: 0;
	background: url(../images/rowright.png) center center no-repeat;
}
/*轮播主要样式结束*/

/*合作伙伴结束*/

/*底部内容 开始*/
.footer_wrap{
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 102px;
	/*min-width: 1000px;*/
	background-color: #f0f0f0;
	border: 2px solid #dfdfdf;
	position: fixed;
}
.footer{
	width: 73%;
	height: 100%;
	min-width: 1000px;
	color: #999999;
	font-size: 14px;
	margin: 0 auto;
}
.footer_copy{
	display: inline-block;
	margin-top: 30px;
}
.contact_us{
	width: 14%;
	height: 100%;
	float: right;
	min-width: 195px;
}
.contact_us>ul{
	/*text-align: center;*/
	float: right;
}
.contact_us>ul>li{
	display: inline-block;
	margin: 30px 0px;
}
.contact_us>ul>li a{
	color: #999999;
}
/*底部内容 结束*/


