<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NewsMapper">
	
	<!--表名 -->
	<sql id="tableName">
		INS_NEWS
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		NEWS_ID,	
		NEWS_TITLE,	
		NEWS_CONTENT,	
		NEWS_STATUS,	
		NEWS_DATE,	
		NEWS_TITLE_SPARE,	
		NEWS_REMARKS
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{NEWS_ID},	
		#{NEWS_TITLE},	
		#{NEWS_CONTENT},	
		#{NEWS_STATUS},	
		#{NEWS_DATE},	
		#{NEWS_TITLE_SPARE},	
		#{NEWS_REMARKS}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			NEWS_ID = #{NEWS_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			NEWS_ID = #{NEWS_ID},
			NEWS_TITLE = #{NEWS_TITLE},
			NEWS_CONTENT = #{NEWS_CONTENT},
			NEWS_STATUS = #{NEWS_STATUS},
			NEWS_DATE = #{NEWS_DATE},
			NEWS_TITLE_SPARE = #{NEWS_TITLE_SPARE},
			NEWS_REMARKS = #{NEWS_REMARKS}
		where 
		NEWS_ID = #{NEWS_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			NEWS_ID = #{NEWS_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		a.NEWS_ID,	
		a.NEWS_TITLE,	
		a.NEWS_CONTENT,	
		a.NEWS_STATUS,	
		a.NEWS_DATE,	
		a.NEWS_TITLE_SPARE,	
		a.NEWS_REMARKS
		from 
		INS_NEWS a
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				a.NEWS_TITLE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 列表-->
	<select id="listformain" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		limit 10
		
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			NEWS_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>