<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PolicyMapper">
	
	<!--表名 -->
	<sql id="tableName">
		INS_POLICY
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		POLICYNO,
		USERID,	
		CARDNO,	
		CARDTYPE,	
		IERNAME,	
		IERPAPERTYPE,	
		IERPAPERNO,	
		IERPHONE,	
		IANTNAME,	
		IANTPAPERNO,	
		IANTPROFESSION,	
		IANTRELATION,	
		IANAGE,
		IANTCOPY,	
		BENNAME,	
		BENPAPERNO,	
		SVRNAME,	
		SVRPHONE,	
		ISSENDMESSAGE,	
		ISHASPOLICYNO,	
		CREATED,	
		UPDATED,	
		INVALID,	
		POLICY_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{POLICYNO},
		#{USERID},	
		#{CARDNO},	
		#{CARDTYPE},	
		#{IERNAME},	
		#{IERPAPERTYPE},	
		#{IERPAPERNO},	
		#{IERPHONE},	
		#{IANTNAME},	
		#{IANTPAPERNO},	
		#{IANTPROFESSION},	
		#{IANTRELATION},	
		#{IANAGE},	
		#{IANTCOPY},
		#{BENNAME},	
		#{BENPAPERNO},	
		#{SVRNAME},	
		#{SVRPHONE},	
		#{ISSENDMESSAGE},	
		#{ISHASPOLICYNO},	
		#{CREATED},	
		#{UPDATED},	
		#{INVALID},	
		#{POLICY_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			POLICY_ID = #{POLICY_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			POLICYNO = #{POLICYNO},
			USERID  = #{USERID},
			CARDNO = #{CARDNO},
			CARDTYPE = #{CARDTYPE},
			IERNAME = #{IERNAME},
			IERPAPERTYPE = #{IERPAPERTYPE},
			IERPAPERNO = #{IERPAPERNO},
			IERPHONE = #{IERPHONE},
			IANTNAME = #{IANTNAME},
			IANTPAPERNO = #{IANTPAPERNO},
			IANTPROFESSION = #{IANTPROFESSION},
			IANTRELATION = #{IANTRELATION},
			IANAGE = #{IANAGE},
			IANTCOPY=#{IANTCOPY},
			BENNAME = #{BENNAME},
			BENPAPERNO = #{BENPAPERNO},
			SVRNAME = #{SVRNAME},
			SVRPHONE = #{SVRPHONE},
			ISSENDMESSAGE = #{ISSENDMESSAGE},
			ISHASPOLICYNO = #{ISHASPOLICYNO},
			CREATED = #{CREATED},
			UPDATED = #{UPDATED},
			INVALID = #{INVALID},
		POLICY_ID = POLICY_ID
		where 
		POLICY_ID = #{POLICY_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			POLICY_ID = #{POLICY_ID}
	</select>
	
	<!-- 通过保单号获取数据 -->
	<select id="findByPolicyNO" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			POLICYNO = #{POLICYNO}
	</select>
	
			<!-- 通过服务卡号获取数据 -->
	<select id="findByCardId" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			CARDNO = #{CARDNO}
	</select>
	
	
			<!-- 通过会员账号获取数据 -->
	<select id="findByUserID" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			USERID  = #{USERID}
	</select>
	
			<!-- 通过被投保人身份证号获取数据 -->
	<select id="findByPaperNo" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			IANTPAPERNO = #{IANTPAPERNO}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(

					IANTNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			POLICY_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>